.buttons button {
    flex: 1 1 calc(25% - 0.5rem);
    font-size: 1.75rem;
    border: 1px solid #c6c6c6;
    cursor: pointer;
}

.buttons {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 50%;
    background-color: #fff;
    padding: 0.25rem;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.buttons button:focus {
    outline: none;
}